<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script defer src="/scripts/categories.js"></script>


  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Caveat:wght@700&family=Courgette&family=Finger+Paint&family=Geologica:wght@300;400;600&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/search.js"></script>
</head>

<body>
  <header>
    <nav class="resource-nav">
      <div class="nav-left">
        <h1> <a href="/" class="resource-main-title">RESOURCE WALL</a></h1>
      </div>
      <div class="nav-right">
        <% if (userId) { %>
            <a class="my-resources" href="myresources">MY RESOURCE</a>
            <a class="add-resource" href="addresource">ADD RESOURCE</a>
            <a class="user-profile" href="userprofile">PROFILE</a>
            <form method="POST" action="/logout">
              <button class="user-login">LOGOUT</button>
            </form>
        <% } else { %>
            <a class="user-login" href="login">LOGIN</a>
            <a class="user-register" href="register">REGISTER</a>
        <% } %>
      </div>
    </nav>
  </header>
  <main>
    <div class="timeago" datetime="2016-06-30 09:20:00"></div>
    <section class="category-search-section">
      <div class="category-part">
        <% categories.forEach(function(category) { %>
          <a class="category-link" href="/?category_id=<%= category.id %>">
            <span class="category-title <%= category_id == category.id ? 'category-active': '' %> "> <%= category.name %> </span>
          </a>
        <% }) %>
      </div>
      <div class="search-part">
        <form action="/search" method="POST"></form>
          <input id="search-text" placeholder="SEARCH FOR RESOURCES" type="text" name="search"/>
          <button class="search-btn">SEARCH</button>
        </form>
      </div>
    </section>
    <div class="resource-container">
      <% for (let id in resources) { %>

      <div class="resource-item">
        <a class="resource-item-link" href="/resource/<%= resources[id].id %>">
        <img class="resource-item-img" src="<%= resources[id].photo_url%>">
        <h3 class="resource-title"><%= resources[id].title%></h3>
        <p class="resource-desc"><%= resources[id].description%></p>
        </a>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="
              <%= resources[id].avatar%>">
              <span class="resource-user-name"><%= resources[id].username%></span>
            </div>
            <div class="resource-created"><%= resources[id].created_at.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' }) %></div>
          </div>
          <div class="resource-item-info">
            <form method="POST" action="/addlikes" id="add-likes-form-<%= resources[id].id %>">
              <input type="hidden" id="hidden-resource-id" name="resource-id" value="<%= resources[id].id%>" />
              <!-- <input type="hidden" id="hidden-resource-liked" id="resource-liked-<%= resources[id].id%>" value="<%= resources[id].liked_rs_by%>" /> -->
              <div class="resource-item-heart">
                <i class="fa-heart <%= resources[id].liked_rs_by == true ? 'is-liked fa-solid' : 'fa-regular' %> " id="like-icon-<%= resources[id].id%>">
                </i>
                <span><%= resources[id].t_likes%></span>
              </div>
            </form>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span><%= resources[id].t_comments%></span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span><%= resources[id].avg_rating%></span></div>
          </div>
        </div>
      </div>

      <%}%>
    </div>
  </main>
</body>
</html>
