<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/profile.css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Courgette&family=Finger+Paint&family=Geologica:wght@300;400;600&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/profile.js"></script>
</head>

<body>
  <header>
    <nav class="resource-nav">
      <div class="nav-left">
        <h1>MY PROFILE</h1>
      </div>
      <div class="filler"></div>
      <div class="nav-right">
        <a class="user-back" onclick="window.location.href='/'">BACK</a>
      </div>
    </nav>
  </header>
  <main>
    <!-- <form method="POST" action="/updateProfile" id="update-profile-form">
      <div class = "user-profile">
        <img class="user-avatar" src="<%= users[0].avatar%>">
        <h3 class="user-name"><%= users[0].username%> </h3>
        <p class="user-email">Email: <%= users[0].email%></p>
        <p class="profile-description"> Profie:
        <textarea name="description" rows="4"><%= users[0].profile_description%> </textarea></p>
        <p>Update avatar link: <input type="avatar-url" name="avatar_url"/></p>
        <button class="profile-update-btn" type="submit">UPDATE PROFILE</button>
      </div>
    </form> -->

      <div class="profile-container">
          <img class="profile-avatar" src="<%= users[0].avatar%>" />
          <div class="profile-user-info">
            <span class="profile-username"><%= users[0].username%></span>
            <span class="profile-email"><%= users[0].email%></span>
          </div>


          <form method="POST" action="/updateProfile" id="update-profile-form">
            <input class="profile-avatar-change" type="text" name="avatar_url" placeholder="AVATAR PHOTO URL" />
            <textarea class="profile-desc" rows="8" name="description" placeholder="SAY SOMETHING ABOUT YOURSELF"><%= users[0].profile_description%></textarea>
            <button type="submit" class="profile-btn">SAVE</button>
          </form>
      </div>
    </main>
    </body>
    </html>
